<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.png" alt="Victor Eloy">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/willianjusten">Victor Eloy</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">java software enginer</span> and mad scientist on my spare time</p>
        <a class="email" href="https://github.com/willianjusten">github.com/victorrseloy</a>
    </div>
</section>
